html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  border-radius: 5px;
  /* background-color: #000000;
  background-image: linear-gradient(315deg, #222222 0%, #2c2c2c 75%); */
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lottery__button {
  background-color: #fff;
  border: none;
  color: #333;
  font-weight: 600;
  font-size: 2rem;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #d2d2d2, 0px 3px 3px #d5d5d5;
  text-align: center;
  transition: all 0.1s ease;
}
.lottery__button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.lottery__button:active {
  box-shadow: 0px 3px 0px #d2d2d2, 0px 3px 600px #d5d5d5;
  position: relative;
  top: 6px;
}

.details {
  padding: 10px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.connected__light {
  padding: 5px;
  margin: 0 5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  display: block;
}

.connected {
  display: flex;
  align-items: center;
}

.success {
  background-color: #36a666;
}

.failure {
  background-color: #ff0000;
}

.lottery__box {
  display: flex;
  justify-content: center;
  background-color: #333;
  border-radius: 5px;
  margin: 50px 0px;
}

.lottery__member {
  display: flex;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    11px 8px 19px 11px rgba(210, 210, 210, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    11px 8px 19px 11px rgba(210, 210, 210, 0);
}

.empty {
  background-color: #333;
  box-shadow: none;
  
}

.heroicon {
  width: 40px;
  height: 40px;
  fill: #888;
  margin: 0 10px;
}
.small {
  width: 30px;
  height: 30px;
}

.button {
  cursor: pointer;
}

.disabled {
  color: #888;
  background-color: #d2d2d2;
  cursor: not-allowed !important;
  position: relative;
  top: 6px !important;
}

.disabled:active{
  box-shadow: none;
  position: relative;
  top: 6px !important;
}

.active {
  fill: #36a666;
}
.inactive {
  fill: #000;
}

.dropdown{
  position: relative;
  flex: 1;
}

.dropdown-content{
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  top: 40px;
  position: absolute;
  background-color: #f5f5f5;
  color: #333;
}

.dropdown-content .title{
  text-align: center;
  margin: 10px 0;
  color: #333;
  font-weight: 600;
}

.hidden{
  display: none;
}

.winners .title{
  font-weight: 500;
  display: block;
  text-align: left;
  margin: 20px 0 10px 0;
}
.winners .counter{
  margin: 0 10px;
  color: #999999;
}
.winners ul{
  padding: 0;
  margin: 0;
}

.winners li{
  display: flex;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M89.13 77.43L154.09 114.93L154.09 189.93L89.13 227.43L24.18 189.93L24.18 114.93zM219.04 77.43L284 114.93L284 189.93L219.04 227.43L154.09 189.93L154.09 114.93zM154.09 414.93L219.04 452.43L219.04 527.43L154.09 564.93L89.13 527.43L89.13 452.43zM219.04 527.43L284 564.93L284 639.93L219.04 677.43L154.09 639.93L154.09 564.93zM348.95 77.43L413.9 114.93L413.9 189.93L348.95 227.43L284 189.93L284 114.93zM284 414.93L348.95 452.43L348.95 527.43L284 564.93L219.04 527.43L219.04 452.43zM348.95 527.43L413.9 564.93L413.9 639.93L348.95 677.43L284 639.93L284 564.93zM478.86 77.43L543.81 114.93L543.81 189.93L478.86 227.43L413.9 189.93L413.9 114.93zM413.9 189.93L478.86 227.43L478.86 302.43L413.9 339.93L348.95 302.43L348.95 227.43zM543.81 -35.07L608.76 2.43L608.76 77.43L543.81 114.93L478.86 77.43L478.86 2.43zM608.76 77.43L673.72 114.93L673.72 189.93L608.76 227.43L543.81 189.93L543.81 114.93zM868.58 77.43L933.53 114.93L933.53 189.93L868.58 227.43L803.62 189.93L803.62 114.93zM868.58 302.43L933.53 339.93L933.53 414.93L868.58 452.43L803.62 414.93L803.62 339.93zM803.62 414.93L868.58 452.43L868.58 527.43L803.62 564.93L738.67 527.43L738.67 452.43zM933.53 189.93L998.49 227.43L998.49 302.43L933.53 339.93L868.58 302.43L868.58 227.43zM933.53 414.93L998.49 452.43L998.49 527.43L933.53 564.93L868.58 527.43L868.58 452.43zM1063.44 -35.07L1128.39 2.43L1128.39 77.43L1063.44 114.93L998.49 77.43L998.49 2.43zM1063.44 189.93L1128.39 227.43L1128.39 302.43L1063.44 339.93L998.49 302.43L998.49 227.43zM1128.39 302.43L1193.35 339.93L1193.35 414.93L1128.39 452.43L1063.44 414.93L1063.44 339.93zM1193.35 -35.07L1258.3 2.43L1258.3 77.43L1193.35 114.93L1128.39 77.43L1128.39 2.43zM1258.3 77.43L1323.25 114.93L1323.25 189.93L1258.3 227.43L1193.35 189.93L1193.35 114.93zM1193.35 189.93L1258.3 227.43L1258.3 302.43L1193.35 339.93L1128.39 302.43L1128.39 227.43zM1193.35 414.93L1258.3 452.43L1258.3 527.43L1193.35 564.93L1128.39 527.43L1128.39 452.43zM1388.21 302.43L1453.16 339.93L1453.16 414.93L1388.21 452.43L1323.26 414.93L1323.26 339.93zM1323.26 414.93L1388.21 452.43L1388.21 527.43L1323.26 564.93L1258.3 527.43L1258.3 452.43zM1388.21 527.43L1453.16 564.93L1453.16 639.93L1388.21 677.43L1323.26 639.93L1323.26 564.93z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M81.63 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM146.59 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM146.59 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM81.63 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM16.68 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM16.68 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM211.54 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM276.5 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM276.5 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM211.54 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM146.59 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM211.54 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM211.54 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM146.59 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM81.63 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM81.63 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM276.5 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM276.5 639.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM211.54 677.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM146.59 639.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM406.4 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM406.4 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM276.5 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM406.4 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM406.4 639.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 677.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM471.36 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM536.31 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM536.31 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM471.36 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM471.36 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM406.4 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM341.45 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM536.31 -35.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM601.26 2.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM601.26 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM471.36 2.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM666.22 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM666.22 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM601.26 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM861.08 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM926.03 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM926.03 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM861.08 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM796.12 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM796.12 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM861.08 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM926.03 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM926.03 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM861.08 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM796.12 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM796.12 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM861.08 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM796.12 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM731.17 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM731.17 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM926.03 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1055.94 -35.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 2.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1055.94 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM990.99 2.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1055.94 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1055.94 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1055.94 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 -35.07 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 2.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 77.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.75 114.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.75 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 227.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 189.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1250.8 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1185.85 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1120.89 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1380.71 302.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1445.66 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1445.66 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1380.71 452.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.76 414.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.76 339.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1380.71 527.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.76 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1445.66 564.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1445.66 639.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1380.71 677.43 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1315.76 639.93 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M8.54 -37.04L51.84 -12.04L51.84 37.96L8.54 62.96L-34.76 37.96L-34.76 -12.04zM8.54 262.96L51.84 287.96L51.84 337.96L8.54 362.96L-34.76 337.96L-34.76 287.96zM51.84 337.96L95.15 362.96L95.15 412.96L51.84 437.96L8.54 412.96L8.54 362.96zM95.15 -37.04L138.45 -12.04L138.45 37.96L95.15 62.96L51.84 37.96L51.84 -12.04zM138.45 37.96L181.75 62.96L181.75 112.96L138.45 137.96L95.15 112.96L95.15 62.96zM95.15 112.96L138.45 137.96L138.45 187.96L95.15 212.96L51.84 187.96L51.84 137.96zM138.45 187.96L181.75 212.96L181.75 262.96L138.45 287.96L95.15 262.96L95.15 212.96zM95.15 262.96L138.45 287.96L138.45 337.96L95.15 362.96L51.84 337.96L51.84 287.96zM95.15 412.96L138.45 437.96L138.45 487.96L95.15 512.96L51.84 487.96L51.84 437.96zM138.45 487.96L181.75 512.96L181.75 562.96L138.45 587.96L95.15 562.96L95.15 512.96zM181.75 -37.04L225.05 -12.04L225.05 37.96L181.75 62.96L138.45 37.96L138.45 -12.04zM225.05 37.96L268.36 62.96L268.36 112.96L225.05 137.96L181.75 112.96L181.75 62.96zM181.75 112.96L225.05 137.96L225.05 187.96L181.75 212.96L138.45 187.96L138.45 137.96zM181.75 262.96L225.05 287.96L225.05 337.96L181.75 362.96L138.45 337.96L138.45 287.96zM225.05 337.96L268.36 362.96L268.36 412.96L225.05 437.96L181.75 412.96L181.75 362.96zM268.36 -37.04L311.66 -12.04L311.66 37.96L268.36 62.96L225.05 37.96L225.05 -12.04zM311.66 37.96L354.96 62.96L354.96 112.96L311.66 137.96L268.36 112.96L268.36 62.96zM311.66 187.96L354.96 212.96L354.96 262.96L311.66 287.96L268.36 262.96L268.36 212.96zM268.36 262.96L311.66 287.96L311.66 337.96L268.36 362.96L225.05 337.96L225.05 287.96zM311.66 487.96L354.96 512.96L354.96 562.96L311.66 587.96L268.36 562.96L268.36 512.96zM354.96 -37.04L398.26 -12.04L398.26 37.96L354.96 62.96L311.66 37.96L311.66 -12.04zM398.26 37.96L441.57 62.96L441.57 112.96L398.26 137.96L354.96 112.96L354.96 62.96zM354.96 112.96L398.26 137.96L398.26 187.96L354.96 212.96L311.66 187.96L311.66 137.96zM398.26 187.96L441.57 212.96L441.57 262.96L398.26 287.96L354.96 262.96L354.96 212.96zM354.96 262.96L398.26 287.96L398.26 337.96L354.96 362.96L311.66 337.96L311.66 287.96zM398.26 337.96L441.57 362.96L441.57 412.96L398.26 437.96L354.96 412.96L354.96 362.96zM354.96 412.96L398.26 437.96L398.26 487.96L354.96 512.96L311.66 487.96L311.66 437.96zM398.26 487.96L441.57 512.96L441.57 562.96L398.26 587.96L354.96 562.96L354.96 512.96zM441.57 -37.04L484.87 -12.04L484.87 37.96L441.57 62.96L398.26 37.96L398.26 -12.04zM484.87 187.96L528.17 212.96L528.17 262.96L484.87 287.96L441.57 262.96L441.57 212.96zM484.87 337.96L528.17 362.96L528.17 412.96L484.87 437.96L441.57 412.96L441.57 362.96zM441.57 412.96L484.87 437.96L484.87 487.96L441.57 512.96L398.26 487.96L398.26 437.96zM484.87 487.96L528.17 512.96L528.17 562.96L484.87 587.96L441.57 562.96L441.57 512.96zM528.17 -37.04L571.47 -12.04L571.47 37.96L528.17 62.96L484.87 37.96L484.87 -12.04zM528.17 112.96L571.47 137.96L571.47 187.96L528.17 212.96L484.87 187.96L484.87 137.96zM571.47 337.96L614.77 362.96L614.77 412.96L571.47 437.96L528.17 412.96L528.17 362.96zM571.47 487.96L614.77 512.96L614.77 562.96L571.47 587.96L528.17 562.96L528.17 512.96zM658.08 37.96L701.38 62.96L701.38 112.96L658.08 137.96L614.77 112.96L614.77 62.96zM614.77 112.96L658.08 137.96L658.08 187.96L614.77 212.96L571.47 187.96L571.47 137.96zM658.08 187.96L701.38 212.96L701.38 262.96L658.08 287.96L614.77 262.96L614.77 212.96zM658.08 487.96L701.38 512.96L701.38 562.96L658.08 587.96L614.77 562.96L614.77 512.96zM701.38 112.96L744.68 137.96L744.68 187.96L701.38 212.96L658.08 187.96L658.08 137.96zM701.38 262.96L744.68 287.96L744.68 337.96L701.38 362.96L658.08 337.96L658.08 287.96zM701.38 412.96L744.68 437.96L744.68 487.96L701.38 512.96L658.08 487.96L658.08 437.96zM831.29 37.96L874.59 62.96L874.59 112.96L831.29 137.96L787.99 112.96L787.99 62.96zM831.29 337.96L874.59 362.96L874.59 412.96L831.29 437.96L787.99 412.96L787.99 362.96zM831.29 487.96L874.59 512.96L874.59 562.96L831.29 587.96L787.99 562.96L787.99 512.96zM917.89 37.96L961.2 62.96L961.2 112.96L917.89 137.96L874.59 112.96L874.59 62.96zM874.59 112.96L917.89 137.96L917.89 187.96L874.59 212.96L831.29 187.96L831.29 137.96zM917.89 187.96L961.2 212.96L961.2 262.96L917.89 287.96L874.59 262.96L874.59 212.96zM917.89 337.96L961.2 362.96L961.2 412.96L917.89 437.96L874.59 412.96L874.59 362.96zM917.89 487.96L961.2 512.96L961.2 562.96L917.89 587.96L874.59 562.96L874.59 512.96zM1004.5 337.96L1047.8 362.96L1047.8 412.96L1004.5 437.96L961.2 412.96L961.2 362.96zM961.2 412.96L1004.5 437.96L1004.5 487.96L961.2 512.96L917.89 487.96L917.89 437.96zM1047.8 -37.04L1091.1 -12.04L1091.1 37.96L1047.8 62.96L1004.5 37.96L1004.5 -12.04zM1047.8 262.96L1091.1 287.96L1091.1 337.96L1047.8 362.96L1004.5 337.96L1004.5 287.96zM1091.1 337.96L1134.4 362.96L1134.4 412.96L1091.1 437.96L1047.8 412.96L1047.8 362.96zM1047.8 412.96L1091.1 437.96L1091.1 487.96L1047.8 512.96L1004.5 487.96L1004.5 437.96zM1134.4 -37.04L1177.71 -12.04L1177.71 37.96L1134.4 62.96L1091.1 37.96L1091.1 -12.04zM1134.4 112.96L1177.71 137.96L1177.71 187.96L1134.4 212.96L1091.1 187.96L1091.1 137.96zM1134.4 262.96L1177.71 287.96L1177.71 337.96L1134.4 362.96L1091.1 337.96L1091.1 287.96zM1134.4 412.96L1177.71 437.96L1177.71 487.96L1134.4 512.96L1091.1 487.96L1091.1 437.96zM1177.71 487.96L1221.01 512.96L1221.01 562.96L1177.71 587.96L1134.4 562.96L1134.4 512.96zM1264.31 187.96L1307.62 212.96L1307.62 262.96L1264.31 287.96L1221.01 262.96L1221.01 212.96zM1221.01 262.96L1264.31 287.96L1264.31 337.96L1221.01 362.96L1177.71 337.96L1177.71 287.96zM1264.31 337.96L1307.62 362.96L1307.62 412.96L1264.31 437.96L1221.01 412.96L1221.01 362.96zM1264.31 487.96L1307.62 512.96L1307.62 562.96L1264.31 587.96L1221.01 562.96L1221.01 512.96zM1307.62 -37.04L1350.92 -12.04L1350.92 37.96L1307.62 62.96L1264.31 37.96L1264.31 -12.04zM1307.62 112.96L1350.92 137.96L1350.92 187.96L1307.62 212.96L1264.31 187.96L1264.31 137.96zM1350.92 187.96L1394.22 212.96L1394.22 262.96L1350.92 287.96L1307.62 262.96L1307.62 212.96zM1307.62 412.96L1350.92 437.96L1350.92 487.96L1307.62 512.96L1264.31 487.96L1264.31 437.96zM1394.22 -37.04L1437.52 -12.04L1437.52 37.96L1394.22 62.96L1350.92 37.96L1350.92 -12.04zM1437.52 37.96L1480.83 62.96L1480.83 112.96L1437.52 137.96L1394.22 112.96L1394.22 62.96zM1437.52 337.96L1480.83 362.96L1480.83 412.96L1437.52 437.96L1394.22 412.96L1394.22 362.96zM1394.22 412.96L1437.52 437.96L1437.52 487.96L1394.22 512.96L1350.92 487.96L1350.92 437.96zM1437.52 487.96L1480.83 512.96L1480.83 562.96L1437.52 587.96L1394.22 562.96L1394.22 512.96z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
